@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.text .modern {
    font-weight: 300;
    font-size: 60px;
}

.text .slideshow {
    font-weight: 800;
    font-size: 4em;
    letter-spacing: 5px;
}

.text h5 {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.image {
    left: 50px;
    top: -70px;
    position: relative;
    z-index: -2;
}

img {
    overflow: hidden;
    width: 100%;
    max-width: 750px;
    border-radius: 50%;
}

.dots .dot1 {
    position: absolute;
    top: -150px;
    left: 60px;
    height: 280px;
    width: 280px;
    background-color: #F6DD00;
    border-radius: 50%;
} 

.dots .dot2 {
    position: absolute;
    left: 360px;
    top: 290px;
    height: 70px;
    width: 70px;
    filter: blur(15px);
    background-color: #0281BC;
    border-radius: 50%;
    z-index: 1;
}

.dots .dot3 {
    position: absolute;
    left: 100px;
    top: 400px;
    height: 190px;
    width: 190px;
    filter: blur(3px);
    opacity: 80%;
    background-color: #CC396B;
    border-radius: 50%;
    z-index: -1;
} 

.dots .dot4 {
    position: absolute;
    left: 700px;
    top: 470px;
    height: 250px;
    width: 250px;
    filter: blur(10px);
    opacity: 90%;
    mix-blend-mode: darken;
    background-color: #5eb69b;
    border-radius: 50%;
    z-index: -1;
} 

.bg svg {
    top: 0;
    left: 0;
    margin: 4% auto;
    width: 100%;
    max-width: 7000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -100;
    opacity: 40%;
    filter: blur(5px);
}

@media (min-width: 1900px) {
    
    .image {
        left: 50px;
        top: -90px;
    }
    
    img {
        max-width: 850px;
    }
    
    .dots .dot1 {
        top: -200px;
        left: 150px;
        height: 370px;
        width: 370px;
    } 
    
    .dots .dot2 {
        left: 400px;
        top: 360px;
    }
    
    .dots .dot3 {
        left: 150px;
        top: 450px;
        height: 230px;
        width: 230px;
    } 
    
    .dots .dot4 {
        left: 1024px;
        top: 470px;
        height: 320px;
        width: 320px;
    } 
    
    .bg svg {
        margin: 2% auto;
    }
}